@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  font-family: "Source Sance Pro", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.table thead th {
  vertical-align: middle;
}

.table td,
.table th {
  padding: 0.75rem;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .modal-dialog {
    margin-right: auto !important;
    margin-left: auto !important;
    transform: translate(0, 0) !important;
  }
}

.select-light {
  background-color: #fff !important;
  color: #000 !important;
  border-color: #ced4da !important;
}

body.dark-mode .select-light {
  background-color: #fff !important;
  color: #000 !important;
}

